body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header {
  background-color: #0558ff;
  height: 70px;
  display: flex;
  align-items: center;
}

.navbar {
  display: flex;
  margin-left: 20px;
}
.navbar-item {
  list-style: none;
  
  margin-right: 20px;
}
.nav-link {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
}
.nav-link:hover {
  opacity: .5;
  transition: 200ms;
}
.container {
  width: 1000px;
  margin: 0 auto;
  margin-top: 30px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  padding: 10px;
}
.create-item {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  height: 40px;
  color: #fff;
  background-color: #0558ff;
  border-radius: 4px;
  font-size: 16px;
  text-decoration: none;
  transition: 300ms;
}
.create-item:hover {
  opacity: .5;
  transition: 300ms;
}
.list-case {
  margin-top: 10px;
  border-radius: 5px;
}
.list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  border: 1px solid rgba(59, 66, 86, 0.3);
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 20px;
  margin-bottom: 10px;
}
.list-item div {
  display: flex;
}
.date {
  margin-right: 30px;
}

.select {
  position: relative;
  margin-bottom: 20px;
}
.select__input {
  height: 40px;
  border: 1px solid rgba(59, 66, 86, 0.3);
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  cursor: pointer;
}

.select__dropdown {
  display: none;
  position: absolute;
  border: 1px solid rgba(59, 66, 86, 0.3);
  border-radius: 5px;
  top: 40px;
  left: 0;
  right: 0;
  max-height: 200px;
  overflow-y: auto;
  box-shadow: 2px 3px 5px rgba(0, 0, 0, .3);
  background-color: #fff;
}

.select.open .select__dropdown {
  display: block;
}

.select__item {
  padding: 1rem;
  border-bottom: 1px solid rgba(59, 66, 86, 0.3);
}
.select__item:hover {
  cursor: pointer;
  background-color: #eee;
  transition: 200ms;
}

.item-checklist {
  display: flex;
  align-items: center;
}

.checklist__input {
  margin-right: 15px;
}
.select__button {
  margin-top: 20px;
}

.red {
  color: red;
}
.green {
  color: green;
}

.no-todos {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 18px;
  font-weight: 600;
}
.date-tile {
  margin: 30px auto;
  font-size: 20px;
  font-weight: bold;
}

.list {
  margin-top: 20px;
}

.list .item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 40px;
  line-height: 1.5rem;
  border-bottom: 1px solid #ccc;
}
.item p{
  margin: 10px 0px;
  width: 950px;
}
.inputFolder {
  width: 150px;
  height: 36px;
  font-size: 16px;
  padding: 0 10px;
}
.equipment-list {
  margin-top: 20px;
}
.create__equipment {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.inputCreate {
  width: 500px;
  height: 36px;
  font-size: 16px;
  padding: 0 10px;
  margin-right: 15px;
}
